
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navbar {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    background-color: #A635EC;
    color: white;
    padding: 10px;
    padding-left: 10%;
    padding-right: 20%;
}

.logo img {
    width: 100%;
    height: auto;
}

.search {
    flex: 1;
    padding: 10px;
    margin: 0 10px;
    border: none;
    color: white;
    border-radius: 20px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
}

.basket img {
    width: 100px;
    height: 100px;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bold;

}

footer {
    background-color: #A635EC;
    color: white;
    text-align: center;
    padding: 20px 0;
}
footer ul{
    display: flex;
    justify-content: center;

}
footer ul li{
    padding: 10px;
}
footer p{
    padding: 10px;
}
/*nuuren zurag*/

/*sanal bolgoh */
.suggest {
    display: flex;
    position: relative;

    align-items: center;
    justify-content: space-between;
}
/*sanal bolgoh text*/
.suggest h3 {
    font-size: 40px;
    width: 48%;
    font-weight: bold;
}

/*sanal bolgoh zuun deed bulangiin hemjee*/
.top-left-image{
    max-width: 25%;
    height: auto;
    margin-bottom: 100px;
}
/*sanal bolgoh baruun dood bulangiin hemjee*/
.bottom-right-image{
    max-width: 25%;
    height: auto;
    margin-top: 100px;
}
/*body hesgiin padding*/
.promotion, .Service,.suggest{
    padding-right: 10%;
    padding-left: 10%;

}   
/*buteegdehuunii undsen class herev hemjeenees hetervel ... haragduulna*/
.product{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 5px solid #D9ABFD;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    
}
/*buteegdehuunii zurag*/
.product img{ 
    width: 100%;
    border-radius: 10px;
}
/*buteegdehuunii jagsaalt gargah*/
.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 42px;
    margin-top: 57px;
    
}
/*hemjee zaah*/
@media (max-width: 1120px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
    body, p {
        font-size: 14px; 
    }
    .suggest h3 {
        font-size: 28px;
    }


}
/*hemjee zaah*/
@media (max-width: 550px) {
    .products {
        grid-template-columns: 1fr;
    }
    body, p {
        font-size: 12px;
    }
    .suggest h3 {
        font-size: 24px;
    }

}
/*bugdiig harah*/
.promotionButton {
    display: block; 
    margin: 0 auto; 
    width: 200px;
    border-radius: 15px; 
    border:  #3FDA26; 
    background-color: #3FDA26;
    color: #FFFFFF; 
    padding: 12px;
    margin-top: 42px; 
}
/*hyamdraliin medeelel*/
.product span {
    position: absolute;
    right: 20px;
    background-color: #FF0000; 
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: 600;
    border-radius: 10px;
    color: white;
}
/*buteegdehuunii ner*/
.product h3{
    color: black;
    padding-top: 20px;
    font-size: 20px;
}
/*sagslah button*/
.product button{
    display: block; 
    width: 120px;
    border-radius: 15px; 
    color: #FFFFFF; 
    padding: 3px;
    border:  #D9ABFD; 
    background-color: #D9ABFD;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
}
/*uniig absoluteer bairshuulah*/
.product strong{
    position: absolute;
    bottom: 55px;
    right: 20px;
    font-size: 20px;
}
/*padding hiih*/
.product p{
    padding-bottom: 65px;
    padding-top: 6px;
}
/*hyamdraltai buteegdehuund ashiglagdana nemelt une*/
.discount{
    text-decoration: line-through;
    position: absolute;
    bottom: -10px;
    font-size: 20px;

}
/*garchig*/
.Service h2, .promotion h2{
    text-align: center;
    font-weight: bold;
    color: #8101CF;
    font-size: 48px;
    font-weight: bold;
}
/*service scroll, center*/
.Service{
    text-align: center;
    white-space: nowrap; 
    overflow-x: auto;
}
/* uilchilgeenii zurag hemjee */
.Service img{
    display: inline-block;
    padding: 20px;
    width: 120px;
    height: 120px;  
}
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    width: 3.5vw;
    height: 3.5vw;
    margin-top: -22px;
    padding: 16px;
    margin-left:16px ;
    margin-right:16px ;

}

.prev {
    left: 0;
    border-radius: 100%;

}

.next {
    right: 0;
    border-radius: 100%;
}
.frontImage{
    width: 100%;
    height: auto;


    
}


